body{
    margin: 0;
}

.container{
width: 100%;
height: 100%;
display: flex;
}


.logo{
    background-color: brown;
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.logo-child{
width: 100%;
height: 10%;
background-color: black;
flex: 1;
position: relative;
bottom: 15px;
}
.info{
    background-color: aqua;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;

}
.quote{
    flex: 1;
    background-color: orange;
    width: 100%;
}
.form{
    flex: 1;
    background-color: red;
    width: 100%;
}

.form-child{
    margin: 10px;
}
.group{
    display: flex;
    gap: 10px;
}
.group > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.options{
    flex: 1;
    background-color: blue;
    width: 100%;
}